

.Dashboard-container{
  padding: 25px;
  margin: 0;
}

.dashboard-cards {
    display: flex;
    justify-content: space-between;

    /* flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; */
  
  }

  .dashboard-content {
    display: flex;
    flex-direction: column;
  }
  
  .left-column {
    flex: 1;
    margin-right: 10px;
  }
  
  .left-column img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .right-column {
    flex: 1;
  }
  
  .right-column img {
    width: 100%;
    height: calc(100% + 10px);
  }
  
  .dashboard-visual {
display: flex;

  }

  
  .chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px; 
   width: 720px;
  }

  .dashboard-right {
  width: 335px;
  height: 686px;
  flex : 1 ; 
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  }