.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar navbar navbar navbar navbar navbar navbar"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"
    "sidebar content content content content content content"

}

.sidebar { grid-area: sidebar; 
}

.navbar { grid-area: navbar;
  margin-left: 15px;
}

.content { 
  margin-left: 15px;
  grid-area: content; }

  body {
    margin: 0;
  }
  
  #root {
    height: 100vh;
    display: flex;
  }